{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% from '_macros/prose.njk' import prose %}

{% block page_title %}Top 5 movie reviews{{ headline }}{% endblock %}

{% block page_description %}{{ headline }} by Capt. Crit McGillicutty{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="../img/{{ image }}" alt="movie poster" class="img-fluid">
        <h5>{{ date }}</h5>
        <span>{{ quote }}</span>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-9">
        <h2>{{ title }}</h2>
        {{ prose(post) }}
      </div>
    </div>
  </article>
{% endblock %}
