{% extends '_templates/base.njk' %}

{% block page_title %}Lopez Family's Favorite Movies{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-6 col-lg-3">
        <figure class="figure-img">
          <img src="img/painted-ladies.jpg" class="figure-img img-fluid" alt="lopez family">
          <figcaption class="figure-caption">
            <p class="h3">The Lopezes</p>
            <p class="figure-caption">Me, sister, mom and dad</p>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-6 col-lg-9">
        <h2>About Us</h2>
          <p class="family-bio">Hello! We are the Lopez family, hailing from Dallas, Texas and one of our favorite things to do together as a family is watch movies and TV shows togther.</p>
          
          <p>We have seen plenty of movies together. Our love for movies come from my dad's days working at the movie theater in high school and my mom's love for good art. We would usually watch movies together Saturday mornings after breakfast and later that night with dinner.</p>
          
          <p>We love to quote movies. There is not one conversation between us where we aren't quoting a movie as a quick quip or as a witty response. Watching movies together has always held a special place in our hearts as a way to apprecaite art, have good laughs and create new memories thanks to these stories.</p>
      </div>
    </div>
  </div>
{% endblock %}