{% extends '_templates/base.njk' %}

{% block page_title %}Lopez Family's Favorite Movies{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h2>Honorable Mentions</h2>
  <p>Check out our favorite movies that just missed the top ten</p>

{% include "_includes/honorable_mentions.njk" %}

{% endblock %}