{% extends '_templates/base.njk' %}

{% block page_title %}Lopez Family's Favorite Movies{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Lopez Family's Favorite Movies</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in facilisis velit, aliquam congue dui. Mauris id mi quam. Nam enim leo, bibendum vel efficitur id, elementum malesuada est. Pellentesque interdum tempus eros nec iaculis. Quisque ac est dictum, vehicula nulla quis, condimentum dui.</p>
  <h2>Our Top 5 movie reviews</h2>
  <p>Check out what we think of our top 5 movies</p>
  <div class="row">
    {% for review in 5_reviews.movies %}
      <div class="col">
        <h3><a href="{{ relative_path }}reviews/{{ 5_reviews.slug }}.html" target="_blank">{{ review.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <h2>Our top 10 movies</h2>
  <p>We like a lot of movies, but if we had to narrow it down, here are our top 10.</p>
  <hr>
  {% for movie in top_movies.movies %}
    <h3><a href="{{ movie.url }}" target="_blank">{{ movie.title }}</a></h3>
    <p>{{ movie.date }}, {{ movie.quote }}</p>
    <hr>
  {% endfor %}
</div>
{% endblock %}