{% extends '_templates/base.njk' %}

{% block page_title %}Top 5 movie reviews{% endblock %}

{% block page_description %}Short reviews of our top 5 movies.{% endblock %}

{% block content %}
<article class="container">
  <h1>Top 5 Reviews</h1>
  <p>Intro text here.</p>
</article>
{% endblock %}