.card{
  p {
      width: auto;
      min-width: auto;
      font-size: 1.1rem;
      line-height: 1.5rem;
    }
  p.card-text {
    font-style: italic;
    padding: auto;
    padding-top: none;
  }

  img{
    height: 450px;
  }
}


