.container {
  p {
    width: auto;
    min-width: auto;
    // text size changes
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding: auto;
  }

  .special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1{
    font-family: "Special Gothic Expanded One", "Roboto", sans-serif;
  }
  
  h2 {
    margin-top: 15px;
    font-family: "Special Gothic Expanded One", "Roboto", sans-serif;
  }
  h3{
    margin-bottom: none;
    padding: none;
    line-height: 1.2rem;
    font-size: 1.5rem;
  }
}


