#jumbo {
    background: url(../img/painted-ladies.jpg) no-repeat center;
    background-size: cover;
    padding-top: 12rem
  }
  
  h1, h4 {
    font-family: "Special Gothic Expanded One", "Roboto", sans-serif;
    color: white;
  }

