// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials


@import 'nav';

@import "jumbotron";

@import "container";

@import "cards";

.card-text{
  font-size: 1.3rem;
  padding: auto;
}

.family-bio{
  font-size: 1.3rem;
  padding: auto;
  width: auto;
}

img{
  height: 350px;
  width: 550px;
  margin-bottom: 20px;
}

img.img-fluid{
  width: 400px;
  height: 350px;
}

